@use "sass:math";
$mainWidth: 100vw;
$mainHeight: 90vh;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  background-color: rgb(4, 0, 76);

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .left-header {
    display: flex;
    align-items: center;
    justify-content: center;

    .lang-icon {
      width: 2.25rem;

      path:nth-child(1) {
        fill: gray;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  width: $mainWidth;
  height: $mainHeight;
  background-color: black;
}

#about {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  .ball {
    display: block;
    background-image: conic-gradient(red, blue, red);
    height: 100px;
    width: 100px;
    border-radius: 100%;
    animation:
      protoAnimation 10s linear infinite,
      rotateElement 1s linear infinite;
  }

  .icon-tray {
    bottom: 5%;
    right: 10%;
    position: absolute;
    display: flex;
    gap: 15px;

    .icon {
      display: inline-block;
      font-size: 2rem;

      animation: iconReact 10s ease-in-out infinite;

      &:nth-child(2) {
        animation-delay: 0.1s;
      }
      &:nth-child(1) {
        animation-delay: 0.2s;
      }
    }
  }
}

@keyframes iconReact {
  0%,
  50%,
  55%,
  100% {
    transform: translateY(0) scale(1);
  }
  52%,
  54% {
    transform: translateY(-100px) scale(1.5);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.2));
  }
}

@mixin moveElement(
  $percentX: 0,
  $percentY: 0,
  $elementArea: 100px
) {
  $xPath: calc(
    (#{$percentX} * #{$mainWidth} / 100) -
      (#{math.div($percentX, 100)} * #{$elementArea})
  );
  $yPath: calc(
    (#{$percentY} * #{$mainHeight} / 100) -
      (#{math.div($percentY, 100)} * #{$elementArea})
  );

  translate: $xPath $yPath;
}

@keyframes protoAnimation {
  0% {
    @include moveElement(0, 0);
  }
  25% {
    @include moveElement(100, 0);
  }
  50% {
    @include moveElement(100, 100);
  }
  75% {
    @include moveElement(0, 100);
  }
  100% {
    @include moveElement(0, 0);
  }
}

@keyframes rotateElement {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
